<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TagOverflow</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>


<body>
   <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary data-bs-theme="dark">
      <div class="container-fluid navbar-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="nav-link active" aria-current="page" href="/"><h2 style="text-shadow: -1px -1px 0 black, 1px -1px 0 black, -2px 2px 0 black, 1px 1px 0 black; padding-right: 20px;"><span style="color:yellow">tag</span><span style="color:white">Overflow</span></h2></a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ml-auto"> <!-- Add ml-auto class to align to the right -->
		<select id="platform-select" onchange="changeForm()" class="form-select">
		    <option value="stackoverflow">Stack Overflow</option>
		    <option value="quora">Quora</option>
		</select>
	    </li>
            <li class="nav-item">
              <a class="nav-link" href="#related">Suggested Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#flow">Flow</a>
            </li>
            <li class="nav-item">
        <!-- Add margin to the right of the icon -->
        <a class="nav-link mr-2" href="#">
            <i id="dark-mode-icon" class="fas fa-sun" onclick="toggleDarkMode()"></i>
        </a>
    </li>
  

        <button id="increase-text" class="icon-button"><i class="fas fa-plus"></i></button>
	<button id="decrease-text" class="icon-button"><i class="fas fa-minus"></i></button>


          </ul>
        </div>
      </div>
    </nav>
	
	
    <div class="content">
   

	<div class="mainn">
	 
	
	<div id="stackoverflow-form">
		<form action="/get_tags" method="post" id="tag-form">
			
			<h3 data-bs-toggle="collapse" href="#radio" role="button" aria-expanded="true" aria-controls="radio" style="margin-top:3vh;">Choose an Algorithm ><div style="font-size:1.5vh;"> <h6>(Sorted from most to least Recommended)</h6></div></h3>
			<div class="collapse show" id="radio">
				<div class="radio-container">
				    <label class="radio-label">
					<input type="radio" name="option" value="svc" checked>
					<div class="custom-radio"></div> LinearSVC
				    </label>
				    <label class="radio-label">
					<input type="radio" name="option" value="pac">
					<div class="custom-radio"></div> PAC
				    </label>
				    <label class="radio-label">
					<input type="radio" name="option" value="mlpc">
					<div class="custom-radio"></div> MLPC
				    </label>
				    <label class="radio-label">
					<input type="radio" name="option" value="percep">
					<div class="custom-radio"></div> Perceptron
				    </label>
				    <label class="radio-label">
					<input type="radio" name="option" value="lr">
					<div class="custom-radio"></div> LogisticReg
				    </label>
				</div>
			</div>
			<br>
			
		   	<h3>Enter Title For Your Question</h3>
		    	<input class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 2px;" id="ip" type="text" name="question" placeholder="Query regarding ..." required/>
		    	<p style="padding-bottom: 20px;"></p>
		    
		   
			<div>
		  		<h3 class="dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
		    			Describe The Question
		  		</h3>
		
	    			<div class="collapse show" id="collapseExample">
	    				<textarea class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 2px; padding=20px; background-color:#f2f2f2; color:blue" id="ip2" name="describe" rows="5" cols="50" placeholder="Describe what is your question...."></textarea>
		    		</div>
		    	</div>
		    
		   	 <br>
		    
    			<input class="btn btn-primary" style="border: 2px solid; font-weight: bold; width:30vh;" type="submit" id="predict-button" value="Predict Tags" />

			<div id="animation-container" style="display: none;" class="inline-animation">
 		 		<div class="dots-bars-5" id="animation"></div>
			</div>
		    <h3 data-bs-toggle="collapse" href="#tags" role="button" aria-expanded="false" aria-controls="tags" style="margin-top:3vh;"></h3>
		<div class="collapse hide tsg" id="tags">
		<h3>Predicted Tags</h3>
		<div id="tag-results"></div>
		<h4 id="rela"><a style="margin-top:20px; color:white;" href="#related">See related questions ></a></h4>
		</div>
		    
		</form>
	</div>
	
	<div id="quora-form" style="display: none;">
		<form method="post" id="quora-form1" onsubmit="event.preventDefault(); submitQuoraForm();">
 		<h3 style="margin-top:60px;">Enter Your Question</h3>
		    	<input class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 2px;" id="ip3" type="text" name="quora_question" placeholder="Query regarding ..." required/>
		    	<p style="padding-bottom: 20px;"></p>
		    
		   
			<div>
		  		<h3 class="dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
		    			Enter Sample Answer
		  		</h3>
		
	    			<div class="collapse show" id="collapseExample">
	    				<textarea class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 2px; padding=20px; background-color:#f2f2f2; color:blue" id="ip4" name="quora_description" rows="4" cols="42"></textarea>
		    		</div>
		    	</div>
		    
		   	 <br>
		    
    			<input class="btn btn-primary" style="border: 2px solid; font-weight: bold; width:30vh;" type="submit" id="predict-button2" value="Predict Tags" />

			<div id="animation-container" style="display: none;" class="inline-animation">
 		 		<div class="dots-bars-5" id="animation"></div>
			</div>
			
			<div id="tag-results1" style="margin-top:30px;"></div>
		</form>
	</div>
	
	
		
		
		
		
		</div>
	
	
		
		
		<div id="main2">
			<h1 style="text-shadow: -1px -1px 0 black, 1px -1px 0 black, -2px 2px 0 black, 1px 1px 0 black; color:white"><span style="color:yellow">tag</span>Overflow</h1><hr>
			<h2>Autonomous Tagging of<br><img src="static/images/stack.png" style="width: 50px;">stackoverflow Questions</h2>
		
       		<hr></div>
       		<div id="related">
       			<div id="main3"><hr>
       				<h3>Related Questions<br> on StackOverflow </h3>  <hr>   	
       
                
                		<div id="results-container" style=" max-height: 500px; max-width: 500px;">
                    			<div class="nav flex-column" id="results"></div>
                    
                		</div>
                		<button class="btn btn-light" id="load-more-button">Load More</button>
                
                		<p></p>
		 </div>
		 </div>
	   	 <hr>
            	 <div id="main4">
            	 	<div  id="about" style="margin-top:400px; font-size:20px; " >
                    	<br><br><br>
                    	<h1 style="text-align:center; margin-bottom:80px; margin-top:0px;">About</h1>
                    	<div  style="text-align: justify; box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.3); padding:30px;">
                    	<p >Greetings! Allow me to introduce you to the Autonomous Tagging Of Stack Overflow Questions project—a venture driven by my passion for simplifying the world of information sharing.
			</p>

			<br>
			    <p style="text-align:center;"><strong >The Journey</strong></p>
			    In today's dynamic world of knowledge exchange, platforms like Stack Overflow have become integral to our quest for answers. However, the sheer volume of questions can often lead to confusion. The conventional tagging system, reliant on users to categorize their queries, sometimes falls short in providing clarity.
			</p>

			<p >
			   <br> <p style="text-align:center;"><strong>Why Autonomous Tagging?</strong></p>
			    My approach is grounded in the belief that technology should work seamlessly in the background. Users shouldn't have to worry about correctly labeling their questions; instead, my system handles this task automatically. In doing so, I aspire to:
			    <ul>
				<li>Enhance User Experience: By organizing information into common topics, I make it easier for users to discover relevant content.</li>
				<li>Personalized Assistance: Users will receive tailored recommendations, making problem-solving a breeze.</li>
			    </ul>
			</p>

			<p >
			    <br> <p style="text-align:center;"><strong>My Tech Toolbox</strong></p>
			    My project utilizes a range of technologies, including Python, Machine Learning, Flask integration, Numpy, Pandas, and Scikit-learn. These tools empower me to build a system that simplifies the tagging of Stack Overflow questions.
			</p>

                    	</div><br><br><br><br>
                    	<div style="text-align: justify; box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.3); padding:30px;">
                    		Challenge Title : IBM Hack Challenge 2023
                    		<br>
                    		Project ID : SPS_PRO_4005
                    		<br>
                    		Project Title : Autonomous-Tagging-Of-Stack-Overflow-Questions
                    	</div>
                    	
                    	
                    	</div>
                    	
                    	
                    	
                    	
                    </div>
                    
                    	<div class="mainn" id="flow">
                    		<img style="margin-top:40px; max-width: 100%; height: auto;" src="static/images/flow.png"/>
                    	</div>
     
</div>

    <script src="static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

